<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Contact Us</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Team Members</ion-card-title>
        </ion-card-header>
        <ion-card-content>


            <ion-item>
                <ion-avatar slot="start">
                    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
                    <img src="./../../assets/icon/user.svg">
                </ion-avatar>
                <ion-label>
                    Abdullah Raiz
                    <p>
                        <a href="mailto:f180230@cfd.nu.edu.pk">f180230@cfd.nu.edu.pk</a>
                    </p>
                </ion-label>
            </ion-item>




            <ion-item>
                <ion-avatar slot="start">
                    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
                    <img src="./../../assets/icon/user.svg">
                </ion-avatar>
                <ion-label>
                    Wajeeh Saqib
                    <p>
                        <a href="mailto:f180167@cfd.nu.edu.pk">f180167@cfd.nu.edu.pk</a>
                    </p>
                </ion-label>
            </ion-item>



            <ion-item>
                <ion-avatar slot="start">
                    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
                    <img src="./../../assets/icon/user.svg">
                </ion-avatar>
                <ion-label>
                    Waqas Ahmad
                    <p>
                        <a href="mailto:f180271@cfd.nu.edu.pk">f180271@cfd.nu.edu.pk</a>
                    </p>
                </ion-label>
            </ion-item>


        </ion-card-content>
    </ion-card>

</ion-content>