<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Automatic Reed Pick Glass
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon style="color: white;" slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>

                <!-- <img src="./../../assets/images/Menu.png" alt="" srcset=""> -->
                <!-- <ion-img [src]=""></ion-img> -->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21">
                    <g id="Group_17" data-name="Group 17" transform="translate(0 -1)">
                      <path id="Union_4" data-name="Union 4" d="M0,0V3H12V0ZM0,9v3H24V9Zm0,9v3H24V18Z" transform="translate(24 22) rotate(180)" fill="#fcfeff"/>
                    </g>
                  </svg> -->

            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col>
                <img src="./../../assets/images/eqwqw.png" alt="" srcset="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-title class="ion-text-center">
                Click on
                <ion-icon name="logo-slack"></ion-icon>
                to view menu
            </ion-title>
        </ion-row>
    </ion-grid>




</ion-content>