<ion-list>
    <ion-item button routerLink="/about" (click)="dismiss()">
        <ion-label>About</ion-label>
    </ion-item>
    <ion-item button routerLink="/contactus" (click)="dismiss()">
        <ion-label>Contact us</ion-label>
    </ion-item>
    <!-- <ion-item button routerLink="/setting" (click)="dismiss()">
        <ion-label>History</ion-label>
    </ion-item> -->
    <ion-item button routerLink="/setting" (click)="dismiss()">
        <ion-label>Settings</ion-label>
    </ion-item>
    <!-- <ion-item button routerLink="/setting" (click)="dismiss()">
        <ion-label>Feedback</ion-label>
    </ion-item> -->
</ion-list>